body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #dfdede;
}

.calculator {
  width: 400px;
  height: 500px;
  background-color: #fff;
  padding: 30px;
  border-radius: 50px;
}

.display {
  display: flex;
  font-size: 30px;
  justify-content: flex-end;
  background-color: #858694;
  padding: 20px;
  color: #fff;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-between;
}

.silver {
  width: 100px;
  height: 70px;
  background-color: #e0e0e0;
  font-size: 20px;
}

.orange {
  background-color: orange;
}

.long {
  width: 200px;
}
