body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #dfdede;
}

.calculator {
  width: 300px;
  height: 474px;
  background-color: #fff;
  padding: 30px;
  border-radius: 50px;
}

.display {
  font-size: 20px;
  background-color: #2c2c2e;
  padding-right: 10px;
  color: #fff;
  width: 283px;
  height: 51px;
  text-align: right;
  margin-bottom: 20px;
  border-radius: 15px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.silver {
  width: 70px;
  height: 70px;
  background-color: #e0e0e0;
  font-size: 20px;
  border-radius: 35px;
}

.calculator-button.operation {
  background-color: orange;
}

.button-0 {
  width: 147px;
}
